:root {
    --spice-scrollbar-hover: #009688;
    --spice-player-text: #969aa9;
    --spice-player-border: #141b1f;
    --spice-context-menu-hover: #343e47;
    --spice-player-subtext: #6d8392;
    --spice-link-hover-text: #009587;
    --spice-main-elevated: #1c2228;
    --spice-button-active: #01bfa5;
    --spice-main: #1c2228;
    --spice-link-active: #009587;
    --spice-context-menu-text: #d0d2d9;
    --spice-highlight-elevated: #232d35;
    --spice-button: #01bfa5;
    --spice-notification-error: #b73434;
    --spice-link-active-text: #181e23;
    --spice-subtext: #7e8596;
    --spice-selected-row: #5b6b79;
    --spice-topbar-border: #232b32;
    --spice-card: #232d35;
    --spice-misc: #39454f;
    --spice-tab-active: #1c2228;
    --spice-shadow: #101418;
    --spice-sidebar-border: #181e23;
    --spice-notification: #1c2228;
    --spice-player: #141b1f;
    --spice-context-menu: #232b32;
    --spice-sidebar: #181e23;
    --spice-sidebar-text: #7e8596;
    --spice-topbar-subtext: #4a5460;
    --spice-button-disabled: #2c353e;
    --spice-text: #b9bcc6;
    --spice-tab-hover: #131b20;
    --spice-topbar: #232b32;
    --spice-topbar-text: #d0d2d9;
    --spice-highlight: #20272d;
    --spice-player-selected-row: #6d8392;
    --spice-tab-active-text: #d0d2d9;
    --spice-scrollbar: #39454f;

    --spice-rgb-scrollbar-hover: 0,150,136;
    --spice-rgb-player-text: 150,154,169;
    --spice-rgb-player-border: 20,27,31;
    --spice-rgb-context-menu-hover: 52,62,71;
    --spice-rgb-player-subtext: 109,131,146;
    --spice-rgb-link-hover-text: 0,149,135;
    --spice-rgb-main-elevated: 28,34,40;
    --spice-rgb-button-active: 1,191,165;
    --spice-rgb-main: 28,34,40;
    --spice-rgb-link-active: 0,149,135;
    --spice-rgb-context-menu-text: 208,210,217;
    --spice-rgb-highlight-elevated: 35,45,53;
    --spice-rgb-button: 1,191,165;
    --spice-rgb-notification-error: 183,52,52;
    --spice-rgb-link-active-text: 24,30,35;
    --spice-rgb-subtext: 126,133,150;
    --spice-rgb-selected-row: 91,107,121;
    --spice-rgb-topbar-border: 35,43,50;
    --spice-rgb-card: 35,45,53;
    --spice-rgb-misc: 57,69,79;
    --spice-rgb-tab-active: 28,34,40;
    --spice-rgb-shadow: 16,20,24;
    --spice-rgb-sidebar-border: 24,30,35;
    --spice-rgb-notification: 28,34,40;
    --spice-rgb-player: 20,27,31;
    --spice-rgb-context-menu: 35,43,50;
    --spice-rgb-sidebar: 24,30,35;
    --spice-rgb-sidebar-text: 126,133,150;
    --spice-rgb-topbar-subtext: 74,84,96;
    --spice-rgb-button-disabled: 44,53,62;
    --spice-rgb-text: 185,188,198;
    --spice-rgb-tab-hover: 19,27,32;
    --spice-rgb-topbar: 35,43,50;
    --spice-rgb-topbar-text: 208,210,217;
    --spice-rgb-highlight: 32,39,45;
    --spice-rgb-player-selected-row: 109,131,146;
    --spice-rgb-tab-active-text: 208,210,217;
    --spice-rgb-scrollbar: 57,69,79;

}
